---
import "../../styles/article.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseHead from "../../components/BaseHead.astro";
import ArticleTime from "../../components/ArticleTime.astro";
import { getCollection } from "astro:content";
import Link from "../../components/Link.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, components } = await entry.render();
---

<BaseLayout>
  <BaseHead
    title={entry.data.title}
    description={entry.data.excerpt}
    type="article"
    slot="head"
  />
  <article slot="content">
    <header>
      <h1 class="mb-0">{entry.data.title}</h1>
      <ArticleTime
        publishedAt={entry.data.publishedAt}
        updatedAt={entry.data.updatedAt}
      />
      <Content components={{ ...components, a: Link }} />
    </header>
  </article>
</BaseLayout>
