---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import getPosts from "../utils/getPosts";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleList from "../components/ArticleList.astro";
const posts = await getPosts();

const CANONICAL = `Blog - ${SITE_TITLE}`;
---

<BaseLayout>
  <BaseHead
    title={SITE_TITLE}
    description={SITE_DESCRIPTION}
    canonical={CANONICAL}
    slot="head"
  />
  <Fragment slot="content">
    <h1 class="h4 mx-auto">Blog</h1>
    <ArticleList posts={posts} as="2" size="h5 mb-0"></ArticleList>
  </Fragment>
</BaseLayout>


